{% extends "base.html.twig" %}

{% block title %}Mes articles{% endblock %}

{% block content %}

<!-- Add a post -->
<table class="table mt-5">
    <thead class="thead-light">
      <tr>
        <th colspan="3" class="text-center">Ajouter un article</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">
            <div><a href="?controller=post&action=add"><i class="fas fa-plus-circle fa-2x add-post"></i></a></div>
        </td>
      </tr>
    </tbody>
  </table>

<!-- Pending post -->
<table class="table">
    <thead class="thead-light">
      <tr>
        <th colspan="3" class="text-center">Articles en attente de validation (2)</th>
      </tr>
    </thead>
    <tbody>
      {% for post in pending %}
      <tr>
        <td>
            <div class="article-img-table">
                <img src="{{ post.image }}">
            </div>
        </td>
        <td class="align-middle">{{ post.title }}</td>
        <td class="align-middle">
            <div class="col-lg-4 post-action d-flex align-items-center">
                <div><a href="?controller=post&action=read&id={{ post.id }}"><i class="far fa-eye mr-4 article-action"></i></a></div>
                <div><a href="?controller=post&action=edit&id={{ post.id }}"><i class="fas fa-pen-fancy mr-4 article-action"></i></a></div>
                <div><a href="?controller=post&action=delete&id={{ post.id }}"><i class="fas fa-trash mr-4 article-action"></i></div>
                <div class="position-relative"><a href="?controller=post&action=comment&id={{ post.id }}"><i class="far fa-comment-dots article-action"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        2
                    </span>
                </div>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!-- Published post -->
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th colspan="3" class="text-center">Articles en ligne (6)</th>
      </tr>
    </thead>
    <tbody>
      {% for post in validated %}
      <tr>
        <td>
            <div class="article-img-table">
                <img src="{{ post.image }}">
            </div>
        </td>
        <td class="align-middle">{{ post.title }}</td>
        <td class="align-middle">
            <div class="col-lg-4 post-action d-flex align-items-center">
                <div><a href="?controller=post&action=read&id={{ post.id }}"><i class="far fa-eye mr-4 article-action"></i></a></div>
                <div><a href="?controller=post&action=edit&id={{ post.id }}"><i class="fas fa-pen-fancy mr-4 article-action"></i></a></div>
                <div><a href="?controller=post&action=delete&id={{ post.id }}"><i class="fas fa-trash mr-4 article-action"></i></div>
                <div class="position-relative"><a href="?controller=post&action=comment&id={{ post.id }}"><i class="far fa-comment-dots article-action"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        2
                    </span>
                </div>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}