{% extends "base.html.twig" %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
<!-- hero section -->
<div class="container mb-5" id="hero">
    <div class="row justify-content-end">
        <div class="col-lg-6 hero-img-container">
            <div class="hero-img">
                <img src="./public/img/bonjour.jpg">
            </div>
        </div>	  		

        <div class="col-lg-9">
            <div class="hero-title">
                <h1>Bonjour, <span class="head-surname">{{ session.surname }}</span>.</h1>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="author">
                <div class="author-img"><img src="{{ session.photo }}"></div>
                <div class="author-meta">
                    <span class="author-name">{{ session.surname }} {{ session.name }}</span>
                    <span class="author-tag">{{ session.email }}</span>
                </div>
            </div>
            <div class="mt-5">
                <ul class="nav-info d-flex">
                <li class="mr-5">
                    <a href="/user/settings/{{ session.id }}">
                        <span class="round-tab">
                            <i class="fas fa-user-cog"></i>
                        </span>
                        <p class="i-text text-center">Paramètres</p>
                    </a>
                </li>
                {% if session.admin == 1 %}
                <li class="mr-5">
                    <a href="/user/superAdmin">
                        <span class="round-tab">
                            <i class="far fa-check-circle"></i>
                        </span>
                        <p class="i-text text-center">Modérer</p>							
                    </a>
                </li>
                {% endif %}
                <li class="mr-5">
                    <a href="/user/adminPost">
                        <span class="round-tab">
                            <i class="far fa-newspaper"></i>
                        </span>					
                        <p class="i-text text-center">Mes articles</p>						
                    </a>
                </li>
                <li class="mr-5">
                    <a href="/user/logout">
                        <span class="round-tab">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <p class="i-text text-center">Déconnexion</p>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div>
<!-- hero ends -->
{% endblock %}
