{% extends "base.html.twig" %}

{% block title %}Laurie Ferry - Blog{% endblock %}

{% block content %}
<!-- Article Grid -->

<div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
    <div class="row justify-content-center">
    
        {% for post in posts %}
        {% if post.status == 1 %}
        <div class="col-xl-6 col-lg-12 text-center">
            <a href="/post/single/{{ post.id }}">
            <div class="article-card">
            <div class="article-img">
                <img src="{{ post.image }}">
            </div>
        
                <div class="article-meta text-left">
                    <h2>{{ post.title }}</h2>
                    <span class="author-tag date mt-2">Posté le: {{ single.creation_date | date("d.m.Y") }}</span>
                        {% if update_date is not same as NULL %}
                        <span class="author-tag date mt-2">Dernière modification le: {{ post.updated_date | date("d.m.Y") }}</span>
                        {% endif %}
                    <p>{{ post.content }}</p>
                    
                </div>
            </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div> <!-- Article Grid Row Ends -->
</div> <!-- Article Grid Container Ends -->
    
    <!-- More articles button -->
{#     
    <div class="container text-center pb-3 mb-5">
      <a href="#" class="btn btn-lg btn-light">Plus d'articles</a>
    </div> #}
{% endblock %}
