{% extends "base.html.twig" %}

{% block title %}Laurie Ferry - Article{% endblock %}

{% block content %}
		<!-- Hero Section -->
	  <div class="container" id="hero">
	  	<div class="row justify-content-end">
	  		<div class="col-lg-6 hero-img-container">
	  			<div class="hero-img">
	  				<!-- hero img -->
	  				<img src="{{ single.image }}">
	  			</div>
	  		</div>	  		

	  		<div class="col-lg-9">
	  			<div class="hero-title">
	  				<h1>{{ single.title }}</h1>
	  			</div>

	  		</div>
	  		<!-- hero meta -->
	  		<div class="col-lg-6">
	  			<div class="hero-meta">
	  				<div class="author">
	  					<div class="author-img"><img src="{{ single.photo }}"></div>
	  					<div class="author-meta">
	  					<span class="author-name">{{ single.surname }} {{ single.name }}</span>
						<span class="author-tag date mt-2">Posté le: {{ single.creation_date | date("d.m.Y") }}</span>
	  					</div>	
	  				</div>
					{% if update_date is not same as NULL %}
					<span class="author-tag date mt-2">Dernière modification le: {{ single.update_date | date("d.m.Y") }}</span>
					{% endif %}
	  				<div class="tags mt-2">
							<a href=""><span class="badge badge-pill p-2 badge-light">{{ single.c_title }}</span></a>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
</div>


<!-- Content -->
<div class="container mt-5" id="content">
	<div class="row justify-content-center">
		<!-- Share buttons -->
		<div class="col-lg-1 text-left mb-3 fixed" id="social-share">
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-facebook-f"></i></a>
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-google"></i></a>
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-twitter"></i></a>
		</div>

		<!-- the content -->
		<div class="col-xl-7 col-lg-10 col-md-12">
			<p class="lead">{{ single.headline }}</p>

			<p>{{ single.content}}</p>
		</div>
	</div>
</div>

<!-- Comment section -->
<div class="container mb-5 mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-5">Commentaires</h3>
				<div class="row mx-auto">
					<div class="media col-12 d-flex justify-content-center">
						<div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40">
							<textarea rows="4" cols="100" class="form-control ml-1 shadow-none textarea"></textarea>
						</div>
					</div>
				</div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="media mt-4"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://i.imgur.com/stD0Q19.jpg" />
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5>Maria Smantha</h5> <span>- 2 hours ago</span>
                                    </div>
                                </div> It is a long established fact that a reader will be distracted by the readable content of a page. 
							</div>
                        </div>
						<div class="media mt-4"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="https://i.imgur.com/xELPaag.jpg" />
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5>Shad f</h5> <span>- 3 hours ago</span>
                                    </div>
                                </div> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33. 
                            </div>
                        </div>
						<div class="media mt-4"> <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" src="https://i.imgur.com/nUNhspp.jpg" /></a>
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5>Andy flowe</h5> <span>- 5 hours ago</span>
                                    </div>
                                </div> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Comment section -->
{% endblock %}