{% extends "base.html.twig" %}

{% block title %}Laurie Ferry - Article{% endblock %}

{% block content %}
		<!-- Hero Section -->
	  <div class="container" id="hero">
	  	<div class="row justify-content-end">
	  		<div class="col-lg-6 hero-img-container">
	  			<div class="hero-img">
	  				<!-- hero img -->
	  				<img src="{{ single.image }}">
	  			</div>
	  		</div>	  		

	  		<div class="col-lg-9">
	  			<div class="hero-title">
	  				<h1>{{ single.title }}</h1>
	  			</div>

	  		</div>
	  		<!-- hero meta -->
	  		<div class="col-lg-6">
	  			<div class="hero-meta">
	  				<div class="author">
	  					<div class="author-img"><img src="{{ single.photo }}"></div>
	  					<div class="author-meta">
	  					<span class="author-name">{{ single.surname }} {{ single.name }}</span>
						<span class="author-tag date mt-2">Posté le: {{ single.creation_date | date("d.m.Y") }}</span>
	  					</div>	
	  				</div>
					{% if update_date is not same as NULL %}
					<span class="author-tag date mt-2">Dernière modification le: {{ single.update_date | date("d.m.Y") }}</span>
					{% endif %}
	  				<div class="tags mt-2">
							<a href=""><span class="badge badge-pill p-2 badge-light">{{ single.c_title }}</span></a>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
</div>


<!-- Content -->
<div class="container mt-5" id="content">
	<div class="row justify-content-center">
		<!-- Share buttons -->
		<div class="col-lg-1 text-left mb-3 fixed" id="social-share">
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-facebook-f"></i></a>
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-google"></i></a>
			<a class="btn  btn-light m-2" href="#"><i class="fab fa-twitter"></i></a>
		</div>

		<!-- the content -->
		<div class="col-xl-7 col-lg-10 col-md-12">
			<p class="lead">{{ single.headline }}</p>

			<p>{{ single.content}}</p>
		</div>
	</div>
</div>

<!-- Comment section -->
<div id="comment" class="container mb-5 mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-4">Commentaires</h3>
				<form method="POST">
					<div class="row mx-auto">
						<div class="media col-12 d-flex justify-content-center text-center">
							{% if session is defined and session.id is defined %}
							<div><img class="rounded-circle mb-2" src="{{ session.photo }}" width="40">
							{% else %}
							<div><img class="rounded-circle mb-2" src="./public/img/user.jpg" width="40">
							{% endif %}
							{% if session.id is not defined %}
							<div class="form-group media-mb register-form d-flex mx-auto">
								<input type="text" class="form-control register-form mr-2" id="name" placeholder="Nom" name="name" required>
								<input type="text" class="form-control register-form" id="surname" placeholder="Prénom" name="surname" required>
							</div>
							{% endif %}
							<div class="form-group">
								<textarea rows="4" cols="100" name="content" class="form-control register-form mx-auto shadow-none textarea"></textarea>
							</div>
								<input type="hidden" name="id" value="{{ single.post_id }}">
							</div>
						</div>
						<button type="submit" id="register-btn" class="btn btn-block btn-comment">Publier</button>
					</div>
				</form>
				{% if content %}
				<div class="alert alert-success mt-4" role="alert">{{ content }}</div>
				{% endif %}
                <div class="row">
                    <div class="col-md-12">
						{% for comment in comments %}
						{% if comment.id is not null %}
                        <div class="media mt-4"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="{{ comment.photo }}" />
						{% else %}
                        <div class="media mt-4"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" src="./public/img/user.jpg" />
						{% endif %}
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
										{% if comment.id is null %}
                                        <h5>Anonyme</h5> <span>&nbsp;- {{ comment.date | date('d/m/Y à h:i') }}</span>
                                        {% else %}
										<h5>{{ comment.surname }} {{ comment.name }}</h5> <span>&nbsp;- {{ comment.date | date('d/m/Y à h:i') }}</span>
										{% endif %}
									</div>
                                </div>{{ comment.content }} 
							</div>
                        </div>
						{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Comment section -->
{% endblock %}
