{% extends "base.html.twig" %}

{% block title %}Modérations{% endblock %}

{% block content %}
<!-- Pending user -->
<table class="table">
    <thead class="thead-light">
      <tr>
        <th colspan="3" class="text-center">Utilisateurs en attente de validation ({{ countu }})</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>
            <div class="article-img-table">
                <img src="{{ user.photo }}">
            </div>
        </td>
        <td class="align-middle">{{ user.name }} {{ user.surname }}</td>
        <td class="align-middle">
            <div class="post-action mx-auto d-flex align-items-center justify-content-end">
                <div><a href="/user/validateUser/{{ user.id }}"><i class="fas fa-check mr-4 article-action"></i></a></div>
                <div><a href="/user/delete/{{ user.id }}" onclick="return confirm('Supprimer définitivement ?')"><i class="fas fa-times mr-4 article-action"></i></div>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!-- Pending post -->
<table class="table">
    <thead class="thead-light">
      <tr>
        <th colspan="3" class="text-center">Articles en attente de validation ({{ countp }})</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>
            <div class="article-img-table">
                <img src="{{ post.image }}">
            </div>
        </td>
        <td class="align-middle">{{ post.title }}</td>
        <td class="align-middle">
            <div class="post-action mx-auto d-flex align-items-center">
                <div><a href="/post/single/{{ post.id }}"><i class="far fa-eye mr-4 article-action"></i></a></div>
                <div><a href="/post/edit/{{ post.id }}"><i class="fas fa-pen-fancy mr-4 article-action"></i></a></div>
                <div><a href="/post/validatePost/{{ post.id }}"><i class="fas fa-check mr-4 article-action"></i></a></div>
                <div><a href="/post/deletePostAdmin/{{ post.id }}" onclick="return confirm('Supprimer définitivement ?')"><i class="fas fa-times mr-4 article-action"></i></div>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<!-- Pending comments -->
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th colspan="4" class="text-center">Commentaires en attente de validation ({{ countc }})</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in comments %}
      <tr>
        <td class="align-middle w-20">
            <div class="article-img-table">
                <img src="{{ comment.image }}">
            </div>
        </td>
        <td class="align-middle w-55">{{ comment.content }}</td>
        <td class="align-middle w-10">{{ comment.date | date('d/m/Y à h:i') }}</td>
        <td class="align-middle w-15">
            <div class="post-action mx-auto d-flex align-items-center justify-content-center">
                <div><a href="/post/single/{{ comment.p_id }}#comment"><i class="far fa-eye mr-4 article-action"></i></a></div>
                <div><a href="/comment/validate/{{ comment.id }}"><i class="fas fa-check mr-4 article-action"></i></a></div>
                <div><a href="/comment/deleteComment/{{ comment.id }}" onclick="return confirm('Supprimer définitivement ?')"><i class="fas fa-times mr-4 article-action"></i></div>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
